<div class="container">

  <div class="profile row justify-content-center baseline">
    <%= image_tag "profile_user", class:"avatar-large", alt:"User profile" %>
    <h1 class="text-center mt-2">User Name</h1>
  </div>
  <hr class="mb-5">

<div class="vinyles-cards">
  <% @vinyles.each do |vinyle| %>
    <%= link_to edit_vinyle_path(vinyle), class: "vinyles-card d-flex justify-content-around mb-5" do %>
      <%= image_tag "vinyl-record", class: "avatar", alt: "image-vinyles" %>
      <div>
        <h2><%= vinyle.title %></h2>
        <p><%= vinyle.description %></p>
      </div>
      <div class="container m-0 text-center pastille">
        <p>1</p>
      </div>
    <% end %>
  <% end %>
</div>



<div class="container d-flex justify-content-center">
  <%= link_to "+", new_vinyle_path, class: "btn-add" %>
</div>

<%= render "shared/navbar" %>
