<div class="container">

  <div class="profile row justify-content-center baseline">
    <%= image_tag "https://i.pinimg.com/236x/54/72/d1/5472d1b09d3d724228109d381d617326.jpg", class:"avatar-large", alt:"User profile" %>
    <h1 class="text-center mt-2">User Name</h1>
  </div>
  <hr class="mb-5">


  <div class="profile-card">
    <% @vinyles.each do |vinyle| %>
    <%= link_to vinyle_path(vinyle) do %>
          <div class="vinyles-card d-flex justify-content-around mb-5">
            <%= image_tag "vinyl-record", class:"avatar", alt:"image-vinyles" %>
            <div>
              <h2><%= vinyle.title %></h2>
              <p><%= vinyle.description %></p>
            </div>
            <div class="container m-0 text-center pastille">
            <p>1</p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>



<div class="container d-flex justify-content-center">
  <%= link_to "+", new_vinyle_path, class: "btn-add" %>
</div>

<%= render "shared/navbar" %>
