<div class="banner">
  <h1>Side.B</h1>
</div>

<%# Bouton à retirer quand la modal est reliée aux match %>
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#matchModal">
  "Tester la modale"
</button>

 <%# FORMULAIRE POUR CHANGER LE PERIMETRE DE RECHERCHE %>
<div class="text-center" data-controller="range">
  <input type="range" id="range_search_radius" min="0" max="50" value="<%= current_user.search_radius %>"
        data-action="change->range#update input->range#count"
        data-user-id="<%= current_user.id %>"
        >
  <p><span data-range-target="count"><%= current_user.search_radius %></span> km</p>
</div>

<div class="tinder" data-controller="custom-swiper">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <%= render "shared/card_vinyle" %>
  </div>

  <%= turbo_stream_from "user_#{current_user.id}" %>
  <div id="match_modal"></div>

  <div class="tinder--buttons">
    <button id="nope">
      <i class="fa fa-remove"></i>
    </button>
    <button id="love">
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>
