<div class="banner">
  <h1>Side.B</h1>
</div>

<%# Bouton à retirer quand la modal est reliée aux match %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#matchModal">
  Tester la modale
</button>

 <%# FORMULAIRE POUR CHANGER LE PERIMETRE DE RECHERCHE %>
<div class="text-center" data-controller="range">
  <input type="range" id="range_search_radius" min="0" max="50" value="<%= current_user.search_radius %>"
        data-action="change->range#update input->range#count"
        data-user-id="<%= current_user.id %>"
        >
  <p><span data-range-target="count"><%= current_user.search_radius %></span> km</p>
</div>

<div class="tinder" data-controller="custom-swiper">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <%= render "shared/card_vinyle" %>
  </div>

  <div class="tinder--buttons">
    <button id="nope" data-action="click->custum-swiper#dislike">
      <i class="fa fa-remove"></i>
    </button>
    <button id="love" data-action="click->custum-swiper#like">
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>


<%# TODO:  modal match %>
<div id="matchModal" class="modal fade" tabindex="-1" aria-labelledby="matchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-4" style="border-radius: 20px; background-color: #FFF2F3;">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <h1 style="font-size: 24px;">Side.B</h1>

        <div class="modal-vinyles-container">
          <div class="vinyle vinyle-left">
            <%= image_tag "vinyl1.png", alt: "Vinyle 1", class: "vinyle-img" %>
          </div>
          <div class="vinyle vinyle-right">
            <%= image_tag "vinyl-record.png", alt: "Vinyle 2", class: "vinyle-img" %>
          </div>
        </div>

      <h1 style="font-size: 30px;" class="mb-2">Le groove est lancé !</h1>

      <p>Envoie un message pour échanger ton vinyle et discuter entre passionnés !</p>
      <div class="input-group mt-3">
        <input type="text" class="form-control rounded-left" placeholder="Organise l’échange.." aria-label="Organise l’échange.." style="height: 30px; font-size: 15px; font-style: italic; font-family: Poppins">
        <%= button_tag(type: 'submit', class: 'input-group-text', style: 'background: #859cd2' ) do %>
          <i class="fa fa-sm fa-paper-plane"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
