<div id="splash-screen" class="splash-screen d-flex flex-column">
  <h1>Side.B</h1>
  <p>Loading...</p>
</div>

<div class="banner">
  <img src="https://imgs.search.brave.com/JWELZm4_gqbCFz8yoc2Mw58QZKGcVbsYutxwylzi-WY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ5/MjM5MzM0NS92ZWN0/b3IvYXJ0aWZpY2lh/bC1pbnRlbGxpZ2Vu/Y2Utcm9ib3QtbG9n/by5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9Y0JEendNZDBi/dWlkTm5fOG1Wa0ww/bDhNVDdwMTRpTnJT/cmw2Zm5PLXFmYz0" alt="">
</div>

 <%# FORMULAIRE POUR CHANGER LE PERIMETRE DE RECHERCHE %>
<br>
<div class='container', style="font-size: 15px; color: #f1aead;">
  <%= form_with url: update_radius_path, method: :patch, local: false do |f| %>
  <%# <%= f.label :search_radius, "périmètre(km)" %>
  <div style='width:100%;'>
    <%= f.number_field :search_radius, min: 1, max: 100, step: 1,
        value: current_user.search_radius.presence, placeholder: "périmètre (km)",
        style: "width: 100px;" %>
    <%= f.submit "Valider", class: 'btn-loc' %>
  </div>
  <% end %>
</div>

<%= console %>

<div class="tinder" data-controller="custom-swiper">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @vinyles.each do |vinyle| %>
      <div class="tinder--card">
        <img src="https://imgs.search.brave.com/jmOC4FN6dVo2FUyTHyaOInMaL07ioPf3nZa44RwA3FY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGFiZWwtZW1tYXVz/LmNvL21lZGlhL2V4/dC8yNTB4MjUwX2Ny/b3B1cHNjYWxlL2Qx/a3Zmb3lyaWY2d3pn/LmNsb3VkZnJvbnQu/bmV0L2Fzc2V0cy9p/bWFnZXMvNTYvbWFp/bi82NGZkM2Y0MjRm/MDQ0NDQ5MmM3MjQ4/YjhhZWMwNDk2Nl8w/MGZiMGM2LmpwZWc" alt="">
        <div class="tinder--card--content">
          <h3><%= vinyle.title %></h3>
          <p><%= vinyle.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope" data-action="click->custum-swiper#dislike">
      <i class="fa fa-remove"></i>
    </button>
    <button id="love" data-action="click->custum-swiper#like">
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>
<br>
