<%# TODO named controller %>
<%# <div id="splash-screen" class="splash-screen d-flex flex-column">
  <h1>Side.B</h1>
  <p>Loading...</p>
</div> %>

<div class="banner">
  <h1>Side.B</h1>
</div>


 <%# FORMULAIRE POUR CHANGER LE PERIMETRE DE RECHERCHE %>
<br>
<div class='container', style="font-size: 15px; color: #c2c6fb;">
  <%= form_with url: update_radius_path, method: :patch, local: false do |f| %>
  <input type="range">
  <%# <%= f.input :data, as: :range, input_html: { min: "0", max: "#{current_user.search_radius}", outinput: "updateTextInput(this.value)" } %>
  <div class="d-flex gap-3 align-items-center div-loc">
    <i class="fa-solid fa-location-dot"></i>
    <%= f.number_field :search_radius, min: 1, max: 100, step: 1,
        value: current_user.search_radius.presence, placeholder: "- périmètre de la recherche (km) défaut:50 -", class:'field-loc' %>
    <%= f.submit "Valider", class: 'btn-loc' %>
  </div>
  <% end %>
</div>


<div class="tinder" data-controller="custom-swiper">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @vinyles.each do |vinyle| %>
      <div class="tinder--card" data-action="click->custom-swiper#flip" data-custom-swiper-target="flipper" data-vinyl-id="<%= vinyle.id %>" data-user-id="<%= current_user.id %>">
        <img src="https://i.discogs.com/nuCUkfKJf1cWRErmw7r16HKVPVC9yPh9ii3LP-teBm4/rs:fit/g:sm/q:90/h:600/w:595/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTMzMDUy/MjI3LTE3Mzg4OTky/MDMtMjcxOS5qcGVn.jpeg" alt="Vinyle album cover">

        <div class="tinder--card--content">
          <h3><%= vinyle.title %></h3>
          <p><%= vinyle.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope" data-action="click->custum-swiper#dislike">
      <i class="fa fa-remove"></i>
    </button>
    <button id="love" data-action="click->custum-swiper#like">
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>
