<div id="splash-screen" class="splash-screen d-flex flex-column">
  <h1>Side.B</h1>
  <p>Loading...</p>
</div>

<div class="banner p-4">
  <h1 class="text-start m-0">Side.B</h1>
  <%# FORMULAIRE POUR CHANGER LE PERIMETRE DE RECHERCHE %>
    <%= form_with url: update_radius_path, class:"text-end", method: :patch, local: false do |f| %>
    <%# <%= f.label :search_radius, "périmètre(km)" %>
    <div style='width:100%;'>
      <%= f.number_field :search_radius, min: 1, max: 100, step: 1,
          value: current_user.search_radius.presence, placeholder: "périmètre (km)",
          style: "width: 100px;" %>
      <%= f.submit "Valider", class: 'btn-loc' %>
    </div>
    <% end %>
</div>


<div class="tinder" data-controller="custom-swiper">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @vinyles.each do |vinyle| %>
      <div class="tinder--card" data-action="click->custom-swiper#flip" data-custom-swiper-target="flipper" data-vinyl-id="<%= vinyle.id %>" data-user-id="<%= current_user.id %>">
        <img src="https://imgs.search.brave.com/jmOC4FN6dVo2FUyTHyaOInMaL07ioPf3nZa44RwA3FY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGFiZWwtZW1tYXVz/LmNvL21lZGlhL2V4/dC8yNTB4MjUwX2Ny/b3B1cHNjYWxlL2Qx/a3Zmb3lyaWY2d3pn/LmNsb3VkZnJvbnQu/bmV0L2Fzc2V0cy9p/bWFnZXMvNTYvbWFp/bi82NGZkM2Y0MjRm/MDQ0NDQ5MmM3MjQ4/YjhhZWMwNDk2Nl8w/MGZiMGM2LmpwZWc" alt="">
        <div class="tinder--card--content">
          <h3><%= vinyle.title %></h3>
          <p><%= vinyle.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope">
      <i class="fa fa-remove"></i>
    </button>
    <button id="love">
      <i class="fa fa-heart"></i>
    </button>
  </div>
</div>
