<div class="container d-flex flex-column gap-5">

  <%= link_to image_tag("back", width: "40px", height: "40px"), profile_path %>

  <div class="vinyle-card">
    <div class="vinyle-image-container">
      <%= image_tag "vinyl-record", class: "vinyle-image" %>
    </div>
    <h1><%= @vinyle.title %> - <%= @vinyle.artist %></h1>
      <div>
        <p><strong>Année :</strong> <%= @vinyle.year %></p>
        <p><strong>Description :</strong> <%= @vinyle.description %></p>
        <p><strong>Etat du vinyle :</strong> <%= @vinyle.quality %></p>
      </div>
  </div>
  <div class="button-container d-flex justify-content-center gap-4 mt-4">
    <%= link_to "Modifier", edit_vinyle_path(@vinyle), class: "btn btn-lavandia" %>
    <%= link_to "Supprimer", vinyle_path(@vinyle), data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer ce vinyle ?" }, class: "btn btn-lightred" %>
  </div>

</div>
