<div class="container">
  <%= link_to profile_path(current_user), class: "position-absolute start-0 ms-3 z-index-absolute" do %>
   <%= image_tag("back.png", width: "40px", height: "40px") %>
  <% end %>


  <div class="container position-relative mt-3 d-flex flex-column gap-5">

  <div class="vinyle-card pb-5">
    <div class="vinyle-image-container">
      <%= cl_image_tag @vinyle.photo.key, class: "vinyle-image" %>
    </div>
    <div><h1><%= @vinyle.title %> - <%= @vinyle.artist %></h1></div>
    <div class="container d-flex justify-content-start">
      <div class="vinyle-details mt-4">
        <h2><strong>Année:</strong></h2><p> <%= @vinyle.year %></p>
        <h2><strong>Description:</strong></h2><p> <%= @vinyle.description %></p>
        <h2><strong>Etat du vinyle:</strong></h2><p> <%= @vinyle.quality %></p>
      </div>
    </div>
  </div>
</div>

<div class="button-container d-flex justify-content-center gap-4">
  <%= link_to "Supprimer", vinyle_path(@vinyle), data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer ce vinyle ?" }, class: "btn btn-lightred" %>
  <%= link_to "Modifier", edit_vinyle_path(@vinyle), class: "btn btn-lavandia" %>
</div>

</div>
