<h1><%= @vinyle.title %> - <%= @vinyle.artist %></h1>

<p><strong>Année :</strong> <%= @vinyle.year %></p>
<p><strong>Description :</strong> <%= @vinyle.description %></p>

<div class="mt-3">
  <%= link_to "Modifier", edit_vinyle_path(@vinyle), class: "btn btn-warning" %>
  <%= link_to "Retour à la liste", vinyles_path, class: "btn btn-secondary" %>

  <%= link_to "Supprimer", @vinyle, method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer ce vinyle ?" }, class: "btn btn-danger" %>
</div>

<h2>Match this <%= @vinyle.name %></h2>
<%= simple_form_for [@vinyle, @match] do |f| %>
  <%= f.input :date %>
  <%= f.submit %>
<% end %>

<div class="container chat">
  <h1>Your match for <%= @match.vinyle.name %></h1>

  <div id="messages" class="messages">
    <% @match.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.nickname %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<% if @matches.exists? %>
  <h2>Your matches</h2>
  <ul>
    <% @matches.each do |match| %>
      <li><%= link_to match.date.strftime("%a %b %e"), match %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for [@match, @message],
  html: {class: "d-flex"} do |f|
%>
  <% other_user = current_user == @match.vinyle.user ? @match.user : @match.restaurant.user %>
  <%= f.input :content,
    label: false,
    placeholder: "Message #{other_user.nickname}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>

<%= render "shared/navbar" %>
