  <%= link_to "Retour à la liste", profile_path, class: "btn btn-secondary" %>

  <h1><%= @vinyle.title %> - <%= @vinyle.artist %></h1>

<p><strong>Année :</strong> <%= @vinyle.year %></p>
<p><strong>Description :</strong> <%= @vinyle.description %></p>

<div class="mt-3">
  <%= link_to "Modifier", edit_vinyle_path(@vinyle), class: "btn btn-warning" %>


  <%= link_to "Supprimer", vinyle_path(@vinyle), data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr de vouloir supprimer ce vinyle ?" }, class: "btn btn-danger" %>
</div>



<%= render "shared/navbar" %>
