<div class="container position-relative mt-3">
  <%= link_to image_tag("back.png", width: "40px", height: "40px"), root_path, class: "position-absolute start-0 ms-3" %>
  <h1 class="text-center m-0">Side.B</h1>
</div>

<% if @matches.any? %>
  <h2 class= 'text-center'>Nouveaux échanges</h2>

  <div class="matches-bar">
    <% @matches.each_with_index do |match, index| %>
      <%= link_to match do %>
        <% other_vinyle = match.vinyle1.user != current_user ? match.vinyle1 : match.vinyle2 %>
        <%= cl_image_tag other_vinyle.photo.key, class:"match-bubble" %>
      <% end %>
    <% end %>
  </div>

  <h3 class='text-center'>Messages</h3>

  <div class="matches-details container d-grid gap-3">
    <% @matches.each do |match| %>
      <%= link_to match do %>
        <div class="d-flex align-items-center">

          <% username = match.vinyle1.user.email.split('@').first %>

          <div class="avatar" style="background-image: url('<%= asset_path "users/#{username}.jpg" %>');"></div>

          <div class="d-flex flex-column ms-2">
            <p class="fw-bold mb-0"><%= username %></p>
            <p>
              <%= match.messages.last.content if match.messages.any? %>
            </p>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "shared/navbar" %>
