

<div class="container position-relative mt-3">
  <%= link_to image_tag("back.png", width: "40px", height: "40px"), matches_path, class: "position-absolute start-0 ms-3 z-3" %>
</div>

<%#= button_to "Valider", validate_match_path(@match), method: :patch, class: "btn btn-success position-absolute end-0 me-3 z-3" %>
</div>

<div class="vinyles-container">
  <div class="vinyle vinyle-left">
    <%= image_tag "vinyl1.png", alt: "Vinyle 1", class: "vinyle-img" %>
  </div>
  <div class="vinyle vinyle-right">
    <%= image_tag "vinyl-record.png", alt: "Vinyle 2", class: "vinyle-img" %>
  </div>
</div>

<div class="container chat">
  <h2>Ton match <%= @match.vinyle1.title %>/<%= @match.vinyle2.title %></h2>




    <%= turbo_stream_from :messages %>
    <div id="messages" class="messages overflow-scroll">
      <% if @messages.any? %>
          <% @match.messages.each do |message| %>
            <%= render "messages/message", message: message, user: current_user %>
          <% end %>
      <% end %>
    </div>
    <%= simple_form_for [@match, @message],
      html: {class: "d-flex",
      data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}} do |f|
    %>
      <% other_user = current_user == @match.vinyle1.user ? @match.vinyle1.user : @match.vinyle2.user %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{other_user.email}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
</div>
