<div class="container position-relative mt-3">
  <%= link_to image_tag("back.png", width: "40px", height: "40px"), matches_path, class: "position-absolute start-0 ms-3 z-3" %>
</div>

<div class="vinyles-container">
  <div class="vinyle vinyle-left">
    <% other_vinyle = @match.vinyle1.user != current_user ? @match.vinyle1 : @match.vinyle2 %>
    <%= cl_image_tag other_vinyle.photo.key, class:"match-bubble" %>
  </div>
  <div class="vinyle vinyle-right">
    <% my_vinyle = @match.vinyle1.user == current_user ? @match.vinyle1 : @match.vinyle2 %>
    <%= cl_image_tag my_vinyle.photo.key, class:"match-bubble" %>
  </div>
</div>

<div class="container chat">

  <%= turbo_stream_from :messages %>
    <div id="messages" class="messages overflow-scroll">
      <% if @messages.any? %>
          <% @match.messages.each do |message| %>
            <%= render "messages/message", message: message, user: current_user %>
          <% end %>
      <% end %>
    </div>

    <%= simple_form_for [@match, @message],
      html: {class: "input-group",
      data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}} do |f|
    %>
      <% other_user = current_user == @match.vinyle1.user ? @match.vinyle1.user : @match.vinyle2.user %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{other_user.email}",
        wrapper_html: {class: "form-control"}
      %>

      <%= button_tag(type: 'submit', class: 'input-group-text') do %>
        <i class="fa fa-2xl fa-paper-plane"></i>
      <% end %>
    <% end %>
</div>
